body{
    background-color: aqua;
}
.kotak{
    background-color: blue;
    border: 3px solid yellow;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}

.kotak1{
    background-color: green;
    border: 3px solid yellow;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
}

.kotak2{
    background-color: red;
    border: 3px solid yellow;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
}
h1{
    color: orange;
}